/* Dark Theme */

body {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #333;
    transition: background-color .5s ease;
}

#toolbar {
    background-color: #555;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color .5s ease;
}

#content {
    background-color: #222;
    border: 1px solid #555;
    padding: 10px;
    min-height: 400px;
    margin-top: 10px;
    transition: background-color .5s ease;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #555;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition: background-color .5s ease;
}

button.active {
    background-color: #aaa;
}

select {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #555;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition: background-color .5s ease;
}

#colorPicker{
    background-color: #555;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: background-color .5s ease;
}

.message{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative;
    top: 2px;
    background-color: rgb(87, 83, 83);
    color: white;
    padding: 5px;
    display: none;
    border-radius: 3px;
    cursor: pointer;

  }